<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.0.4" targetFramework="net45" />
  <package id="CoffeeSharp" version="0.5" targetFramework="net45" />
  <package id="globdir" version="0.0.1.1" targetFramework="net40" />
  <package id="ilmerge" version="2.12.0803" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net45" />
</packages>